body{
    margin: 0px;
}
.orange_color {
    color: orange;
}
h1{
    font-size: 50px;
}
.flexsibal_container{
    display: flex;
    margin-bottom: 150px ;
}
.first_elements{
    width: 50%;
    padding-left: 5%;
    
    
}
.second_elements{
    width: 50%;
    padding-left: 5%;
}
.second_elements img{
    width: 80%;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    
    
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second_immage{
    width: 80%;
}
.middile_banner{
    padding-left: 5%;

}
.second_pic{
    width: 80%;
}
.second_paragraph{
    padding-right: 20px;
}
h2{
    font-size: 40px;
    
}
h3{
    font-weight: 700;
}
.middile_banner{
    background-image: url(images/dream-bg.png) ;
    background-repeat: no-repeat;
    background-position: right;
}
.last_banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.justifi{
    text-align: justify;
    padding-right: 5%;
}
.full_baby{
    box-shadow: 10px 10px 40px yellow;
    width: 40%;
    padding-left: 5%;
    margin: 5%;
    border-radius: 20px;
     
}
#baby{
    border-left: 10px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
    
}

#pro{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;

}
footer p {
    text-align: center;
}