body{
    margin: 0px;
}
.orange_color {
    color: orange;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.first_elements{
    width: 50%;
    padding-left: 5%;
}
.second_elements{
    width: 50%;
    padding-left: 5%;
}
.second_elements img{
    width: 80%;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    
    
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}